body{
    color: white;
    font-family: sans-serif;
    background-image: url('map.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(px);
}

.signupbox{
    width: 360px;
    height: 620px;
    margin: auto;
    margin-top: 40px;
    border: 5px solid gray;
    border-radius: 30px;
    backdrop-filter: blur(8px);
}
.loginbox{
    width: 360px;
    height: 360px;
    margin: auto;
    margin-top: 40px;
    border: 5px solid white;
    border-radius: 30px;
    backdrop-filter: blur(8px)
}

h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 2px solid gray;
    border-radius: 8px;
    outline: none;
}

.submit-btn{
    width: 320px;
    height: 35px;
    margin-top: 30px;
    border: none;
    border: 2px solid #17416c;
    border-radius: 20px;
    background-color: #17416c;
    color: white;
    font-size: 18px;
}
.submit-btn:hover{
    background-color: black;
    color: white;
}
.submit-btn:active {
    background-color: red;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para2 a{
    color: 114B5F;
}




.tc{
    backdrop-filter: blur(5px);
}

.tc h1{
    color: white;
    text-align: center;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
}
.tc b{
    font-size: 24px;
    color:aliceblue;
}
.tc p{
    color: white;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
}
.tc button{ 
  border: none;
  border: 20px solid gray;
  border-radius: 20px;
  background-color:gray;
  color:black;
  font-size: 20px;
  cursor: pointer;
}
.tc button:hover{
    background-color: black;
    color: white;
}
.tc button:active {
    background-color: #d41616;
}